/*
# id
. class
*/
body{
    background-color: rgb(25,25,25);
}

#section{
    min-width: 980px;
    position: absolute;
    margin-left: 0px;
    top: 0px;
    height: 500px;
    left: 0px;
    width: 100%;
}

#div1{
    data-content-width:"980";
    flex: 980 1 0%;
    margin-left: 0px;
    min-width: 980px;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0px;
    height: 900px;
    position: relative;
}

#div2{
    data-background-image:"";
    data-position:"absolute";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgb(25, 25, 25);
}

.comp{
    margin-left: calc((100% - 980px) * 0.5);
}

#div3{
    title:"";
    data-is-responsive:"false";
    data-display-mode:"fill";
    data-content-padding-horizontal:"0";
    data-content-padding-vertical:"0";
    data-exact-height:"420";
    left: 20px;
    position: absolute;
    top: 60px;
    width: 943px;
    height: 418px;
}

#div4{
    width: 943px;
    height: 418px;
}

#div5{
    data-has-bg-scroll-effect:"";
    data-image-info:"{&quot;imageData&quot;:{&quot;id&quot;:&quot;dataItem-kigpp7ii&quot;,&quot;type&quot;:&quot;Image&quot;,&quot;uri&quot;:&quot;89712714a13f44968d486aa56e53bd0e.jpeg&quot;,&quot;alt&quot;:&quot;Car Dealer&quot;,&quot;description&quot;:&quot;&quot;,&quot;width&quot;:4200,&quot;height&quot;:2804,&quot;name&quot;:&quot;Car Dealer&quot;,&quot;metaData&quot;:{&quot;isPreset&quot;:false,&quot;schemaVersion&quot;:&quot;1.0&quot;,&quot;isHidden&quot;:false,&quot;pageId&quot;:&quot;r5g6a&quot;},&quot;title&quot;:&quot;&quot;,&quot;displayMode&quot;:&quot;fill&quot;},&quot;containerId&quot;:&quot;comp-kigpp79c&quot;,&quot;displayMode&quot;:&quot;fill&quot;}";
    data-has-ssr-src:"";
    data-is-svg:"false";
    data-is-svg-mask:"false";
    width: 940px;
    height: 420px;
}

#image{
    alt:"Car Dealer";
    data-type:"image";
    itemprop:"image";
    width: 940px;
    height: 420px;
    object-fit: cover;
}

#div6{
    data-packed:"true";
    data-vertical-text:"false";
    left: 20px;
    width: 940px;
    position: absolute;
    pointer-events: none;
    top: 503px;
}

#h1{
    text-align:center;
    line-height:1.25em;
    color: aliceblue;
    text-transform:uppercase;
    font-family: Mak;
}

#div7{
    data-packed:"true";
    data-vertical-text:"false";
    left: 20px;
    width: 940px;
    position: absolute;
    pointer-events: none;
    top: 600px;
}

#p1{
    text-align:center;
    line-height:1.67em;
    color: aliceblue;
}

#div8{
    data-packed:"true";
    data-vertical-text:"false";
    left: 20px;
    width: 940px;
    position: absolute;
    pointer-events: none;
    top: 650px;
}

#p2{
    text-align:center;
    line-height:1.875em;
    color: aliceblue;
}

#div9{
    data-packed:"true";
    data-vertical-text:"false";
    /*margin-left:calc((100% - 980px) * 0.5);*/
    left:400px;
    width: 700px;
    position: absolute;
    /*pointer-events: none;*/
    top: 800px;
    color: aliceblue;
}

#button1{
    target:"_self";
    data-keep-roots:"true";
    data-anchor-comp-id:"";
    data-anchor:"dataItem-ius9m6yf";
    padding: 1rem 1.5rem;
    text-decoration: none;
    background-color: rgb(25, 25, 25) ;
    color: aliceblue;
    border-radius: 13px;
    cursor: pointer;
    font-family: Mak;
}