body{
    background-color: rgb(25,25,25);
}

#h1{
    text-align:center;
    line-height:1.875em;
    color: aliceblue;
    font-size: 45px;
}

.table{
    margin-left: calc((100% - 280px) * 0.5);
    text-align:left;
    line-height:1.875em;
    color: aliceblue;
    font-size: 25px;
}

.comp2{
    margin-left: calc((100% - 980px) * 0.5);
    text-align:center;
    line-height:1.875em;
    color: black;
    font-size: 25px;
    data-packed:"true";
    data-vertical-text:"false";
    left: 20px;
    width: 940px;
    position: absolute;
}